.root {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 0 0 10 10;
}

.tooltip {
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-background-insets: 0;
    -fx-padding: 0.4em 0.75em 0.4em 0.75em;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10, 0.0 , 0 , 3 );
    -fx-font-size: 0.9em;
}